
[{OBJ-TAG}]my-tool
core_Tool.tool_type[==][{str}]                      acquisition
core_Tool.creator[==][{str}]                        DC3
core_Tool.versionx[==][{str}]                       7.2.646

[{OBJ-TAG}]my-trace
core_Trace.has_changed[==][{bool}]                  True
||||
propbundle_Device.manufacturer[==][{str}]           Western Digital
propbundle_Device.model[==][{str}]                  WD1234
||||
propbundle_File.created_time[==][{datetime}]        2018-08-09T22:36:49.32Z
propbundle_File.extension[==][{str}]                raw
propbundle_File.filename[==][{list:str}]            HD-2018080901-01.raw[ | ]
|~~|
core_ControlledVocabulary.value[==][{str}]          NTFS
|~~|
propbundle_File.filesystem_type[==][{|^^|}]         |^^|
propbundle_File.filepath[==][{str}]                 C:/evidence/HD-2018080901-01.raw
propbundle_File.is_directory[==][{list:bool}]       False[ | ]False
propbundle_File.size_in_bytes[==][{int}]            90080500
||||
propbundle_UNIXAccount.display_name[==][{str}]      Vic

[{OBJ-TAG}]my-hash
core_ControlledVocabulary.value[==][{str}]          SHA256
||||
duck_Hash.hash_method[==][{|^^|}]                   |^^|
duck_Hash.hash_value[==][{str}]                     7ea081166336119da78ee4bbdbd06840b94efe28988a2bdb0bcf2387a481e283

[{OBJ-TAG}]my-action
core_Action.name[==][{str}]                                 acquired
||||
|~~|
core_Tool.tool_type[==][{str}]                              acquisition
core_Tool.creator[==][{str}]                                some organization
core_Tool.version[==][{str}]                                0.1.0
|~~|
propbundle_ActionReferences.instrument_refs[==][{list:|^^|}]  |^^|
|~~|
core_Location.[==][{str}]
|~~|
propbundle_ActionReferences.location_refs[==][{list:|^^|}]  |^^|
|~~|
core_Identity.[==][{str}]
|~~|
propbundle_ActionReferences.performer_refs[==][{|^^|}]      |^^|
propbundle_ActionReferences.environment_refs[==][{str}]     forensicscomputer_uuid

[{OBJ-TAG}]my-provrecord
context_ProvenanceRecord.description[==][{str}]             Hard drive from subject computer.
context_ProvenanceRecord.exhibit_number[==][{str}]          DC3-20180823-001dd
|~~|
[{list:OBJ-REF}]                                            my-tool[ | ]my-action
|~~|
context_ProvenanceRecord.object_refs[==][{list:|^^|}]       |^^|
|~~|

